@import './config';
@import './menu';


* {
    box-sizing: border-box;
}

body {
    @include background;
    background: $primaryColor;
    color: setTextColor($primaryColor);
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

//headings

h1,
h2,
h3 {
    margin: 0;
    font-weight: 400;

    &.lg-heading {
        font-size:  6rem;
    }

    &.sm-heading {
        margin-bottom: 2rem;
        padding: 0.2rem 1rem;
        // background: rgba(lighten($primaryColor, 2), 0.5);
    }
}

a {
    color:setTextColor($primaryColor);
    text-decoration: none;
}

header{
    position: fixed;
    z-index: 2;
    width: 100%;
}

.text-secondary {
    color:$secondaryColor;
}

main {
    padding: 4rem;
    // height: 100%;
    min-height: calc(100vh - 60px);


    .icons {
        margin-top: 1rem;

        a {
            padding: 0.4rem;
            opacity: 0.35;
            position: relative;
			display: inline-block;
			outline: 0;

            span {
				display: flex;
                justify-content: center;
				position: absolute;
				background: #222222;
				color: $secondaryColor;
				top: -2em;
				font-size: .4em;
				height: 2em;
				line-height: 2.25em;
				left: 50%;
				opacity: 0;
				@include easeOut;
				// Labels not wide enough? Increase its width below and set margin-left to ((width / 2) * -1)
				width: 5.5em;
				margin-left: -2.75em;
                background: transparent;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
               
                font-weight: 400;

//makes an arrow for the icon hover

                // &:after {
				// 	content: '';
				// 	display: block;
				// 	position: absolute;
				// 	bottom: -0.4em;
				// 	left: 50%;
				// 	margin-left: -0.6em;
				// 	border-top: solid 0.6em #222222;
				// 	border-left: solid 0.6em transparent;
				// 	border-right: solid 0.6em transparent;
				// }
            }

            &:hover {
                color: $secondaryColor;
                @include easeOut();
                opacity: 1;

                span {
                    opacity: 1;
                }
            }

            

            
        }
        
    }

    &#home {
        overflow: hidden;

        h1 {
            margin-top: 20vh;
        }
    }
}


.about-info {
    display: grid;
    grid-gap: 2rem;
    grid-template-areas: 
    "bioimage bio bio"
    "job1 job2 job3";
    grid-template-columns: repeat(3,1fr);
    

    .bio-image{
        grid-area: bioimage;
        margin: auto;
        border-radius: 50%;
        border: $secondaryColor 3px solid;
    }
    
    .bio {
        grid-area: bio;
        font-size: 1.5rem;
    }
    
    
    
    .job {
        background: lighten($primaryColor, 5);
        padding: 0.5rem;
        border-bottom: $secondaryColor 5px solid;
        
        

        .job-1 {
            grid-area: job1;
        }
        
        .job-2 {
            grid-area: job2;
        }
        
        .job-3 {
            grid-area: job3;
        }
    }

}

// Work/Projects

.projects {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 0.7rem;

    img {
        width: 100%;
        border: 3px #fff solid;

        &:hover {
            opacity: 0.5;
            border-color: $secondaryColor;
            @include easeOut
        }
    }
}

//Button Styles

.btn {
    display: block;
    padding: 0.5rem 1rem;
    border: 0;
    margin-bottom: 0.3rem;
    &:hover {
        background-color: $secondaryColor;
        color: setTextColor($secondaryColor);

    }
}

.btn-dark {
    @extend .btn;
    background: darken($color: $primaryColor, $amount: 50);
    color: #fff;
}

.btn-light {
    @extend .btn;
    background: lighten($color: $primaryColor, $amount: 30);
    color: rgb(0, 0, 0);
}



#main-footer {
    text-align: center;
    padding: 1rem;
    background: darken($color: $primaryColor, $amount: 10);
    color: setTextColor($primaryColor);
    height: 60px;
}



@import './mobile';
